<% include partials/header %>
    <div class="row">
        <h3 style="text-align: center">Edit Comment</h3>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/matches/<%= comment.match_id %>/comments/<%=comment.id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <textarea rows="4" cols="50" class="form-control" type="text" name="comment[content]" placeholder= "Type your new comment here "></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/matches/<%= comment.match_id %>">Go Back </a>
        </div>
    </div>
<% include partials/footer %>

