<% include partials/header %>
<h2>Landing Page</h2>

<div style = 'text-align: center ;' class="container">
<h3>Welcome!</h3>

<a href = '/matches' style = '  font-size: 1em;'> 
See recent matches</a>
</div>

<% include partials/footer %>
