<% include partials/header %>

<h1> THis is the matches page.</h1>
<% matches.forEach((matches) => { %>
   <div>
   <h4><%= matches.id %> - <%= matches.time %></h4?>
   <!--<h4><%= matches.time %></h4?>-->
   </div>
<% }); %>

<% include partials/footer %>
