<% include partials/header %>
<div class="container">
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<table class="table table-striped">
<thead>
   <tr>
      <th>Item Name</th><th>Time</th>
   </tr>
</thead>

<tbody>
   <% for (var i = 0; i <purchase_log.length; i++) { %>
    <tr>
      <td><%= item_id[purchase_log[i].item_id] %></td>
      <td><%= Math.floor(purchase_log[i].time / 60) %> m 
       <%= Math.floor(purchase_log[i].time  % 60) %> s </td>

    </tr>    
   <% } %>
   
</tbody>
</table>
</div>
</div>

<% include partials/footer %>