/*.thumbnail img {*/
/*    width: 100%;*/
/*}*/

/*.thumbnail {*/
/*    padding: 0;*/
/*}*/

/*.thumbnail .caption-full {*/
/*    padding: 9px;*/
/*}*/

/* Title text ('ALIGULAC') and subheading */
h1 {
    font-family: 'Marcellus SC', Times, serif;
    font-size: 60px;
    letter-spacing: 0.6em;
    text-align: center;
    padding-left: 0.7em; /* Required for centering */
}

.subheading {
    letter-spacing: 0.1em;
    text-align: center;
}

/* Major headings are in h2 */
h2 {
    text-align: center ;
    font-size: 2em;
    font-weight: 400;
    border-style: none none solid none;
    border-width: 0.05em;
    border-color: #e7e7e7;
    font-variant: small-caps;
}

h2 small {
    margin-left: 0.7em;
}

/* Subheadings */
h3 {
    text-align: center ;
    font-size: 1.5em;
    font-weight: 400;
    border-style: none;
    font-variant: small-caps;
}

/* A blacklink is always black and never underlined. */
a.blacklink {
    color: #000000;
}

a.blacklink:hover {
    text-decoration: none;
}

/* Centered navbar */
@media (min-width: 768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: none;
    }
}

.navbar {
    border-radius: 0;
    border-style: solid none solid none;
}

/* Menu hovering */
@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Centered footer */
footer {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 80px;
}

.table td  {
   text-align: center;   
}

.table th  {
   text-align: center;   
}